<div layout-gt-sm="column">
    <mat-card flex-gt-sm class="mat-card">
        <mat-card-title class="title-mat-card">Termos de Uso e Consentimento e Políticas de Privacidade</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <div class="text-term">
            <p style="font-weight: bold; font-size: x-large">Prezado (a) titular de dados pessoais,</p>
            <br>
            <p>O presente Termo de Ciência e Consentimento (“Termo”) tem como finalidade o registro da manifestação
                inequívoca,
                por meio da qual o titular dos direitos pessoais (“Titular”) concorda com o tratamento de seus dados
                pelo grupo participante da LENC ©
                </p>
            <p>Assim, aceitando o presente Termo, o Titular consente e concorda que a LENC adote as melhores
                decisões para
                o tratamento das informações pessoais. Caso o Termo de Ciência não seja aceito, o titular não poderá
                prosseguir
                com a realização do Questionário de Assessment LGPD.</p>

            <p>Ainda, o Titular declara neste ato que possui capacidade legal e detém as autorizações e permissões
                necessárias
                para realizar o presente cadastro e utilizar os serviços disponibilizados pela LENC.</p>

            <p>1. DA FINALIDADE:
                O Titular autoriza e concorda com o tratamento dos dados pela LENC com a finalidade específica de
                armazenamento dos dados pessoais para oferta de produtos do seu portifólio.</p>
            <p>2. DA ADEQUAÇÃO:
                O Titular tem ciência de que o tratamento dos dados pessoais atende a finalidade exposta pelo provedor
                de
                serviços da LENC.</p>
            <p>3. DA NECESSIDADE:
                O Titular autoriza o tratamento dos dados pessoais com o objetivo de permitir comunicação referente aos
                produtos
                da LENC.</p>
            <p>4. DO CADASTRO E DO LIVRE ACESSO:
                O cadastro realizado pelo Titular é de uso estritamente pessoal e não deverá ser utilizado por
                terceiros, sendo
                que a guarda e sigilo das informações contidas no formulário serão utilizadas de forma diligente, bem
                como a não
                os colocar à disposição de terceiros. O Titular tem ciência de que poderá consultar, atualizar ou
                excluir os
                dados pessoais cadastrados a qualquer tempo.</p>
            <p>5. DA QUALIDADE E VERACIDADE DOS DADOS:
                O Titular concorda em fornecer informações verdadeiras, exatas, e completas, se responsabilizando pelo
                cadastro
                das informações que serão utilizadas pela LENC, bem como por informar qualquer modificação destas
                informações, mantendo as informações sempre atualizadas. Caso o Titular se utilize de informações falsas
                ou
                desatualizadas, a LENC se resguarda no direito de cancelar e encerrar o acesso do usuário aos seus
                serviços.</p>
            <p>6. DA TRANSPARÊNCIA:
                O Titular tem ciência de que o não fornecimento dos dados requeridos pela LENC, impossibilitará o
                cadastro e
                a realização do Questionário de Assessment LGPD.</p>
            <p>7. DA SEGURANÇA:
                A LENC realizará o tratamento dos dados pessoais do Titular para a finalidade acima exposta, ficando
                esta
                responsável em adotar as medidas técnicas e administrativas aptas para proteger os dados pessoais de
                acessos não
                autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou
                difusão.</p>
            <p>8. DA PREVENÇÃO:
                A LENC adotará as medidas preventivas para a manutenção da proteção e segurança dos dados pessoais
                do
                Titular</p>
            <p>9. DA NÃO DISCRIMINAÇÃO:
                Os dados pessoais disponibilizados pelo Titular à LENC, em hipótese alguma, serão utilizados para
                fins
                discriminatórios, ilícitos ou abusivos.</p>
            <p>10. DA RESPONSABILIZAÇÃO E PRESTAÇÃO DE CONTAS:
                O Titular poderá requisitar informações relacionadas ao nível de governança da LENC a fim de
                compreender as
                ações adotadas para o atendimento da lei geral de proteção de dados pessoais (lei 13.709/2018).</p>
        </div>
    </mat-card>
</div>